# oop

In [6]:
class Employee():            #class
    pass

In [7]:
emp1=Employee()              #instance(object)
emp2=Employee()

In [8]:
print(emp1)
print(emp2)

<__main__.Employee object at 0x00000236C29AB2D0>
<__main__.Employee object at 0x00000236C29AAF10>

In [9]:
#instance variables

In [10]:
emp1.first='anushka'
emp1.last='londhe'
emp1.salary=50000

emp2.first='aayush'
emp2.last='londhe'
emp2.salary=40000

In [11]:
print(emp1.first)

anushka

In [12]:
print(emp2.salary)

40000

In [59]:
class Employee():                                       #self = this keyword
    def __init__ (self,first,last,salary):              #emp1=self
        self.first=first
        self.last=last
        self.salary=salary
   
    def show(self):
        print(self.first+' '+'ok')

emp1=Employee('raj','sharma',40000)

In [61]:
emp1=Employee('raj','sharma',48000)

In [62]:
print(emp1.first)

raj

In [63]:
emp2=Employee('swarali','lokhande',45000)
print(emp2.last)

lokhande

In [64]:
emp1.show()

raj ok

In [66]:
emp2.show()

swarali ok

# encapsulation

In [84]:
class Employee():                                       #self = this keyword
    def __init__ (self,first,last,salary):              #emp1=self
        self.first=first
        self.last=last
        self.__salary=salary                           #salary=private variable
   
    def show(self):
        print(self.first+' '+'ok')

    def disp(self):
        print(self.__salary)

In [85]:
emp1=Employee('raj','modi',45000)
emp2=Employee('anu','abc',55000)

In [86]:
emp1.show()

raj ok

In [87]:
emp2.show()

anu ok

In [88]:
print(emp1.salary)

AttributeError: 'Employee' object has no attribute 'salary'

In [82]:
print(emp2.salary)

AttributeError: 'Employee' object has no attribute 'salary'

In [75]:
print(emp1.first,emp1.last)

raj modi

In [89]:
emp1.disp()

45000

In [90]:
emp2.disp()

55000

# inheritance

In [91]:
class Emp2(Employee):
    pass

In [92]:
emp3=Emp2('neha','kulkarni',60000)

In [93]:
print(emp3.first)

neha

In [94]:
emp3.show()

neha ok

In [95]:
emp3.disp()

60000

In [97]:
#create a class called person
#attributes:name,age,city  (make use of default para also)
#create a method which will show all the info of person

In [107]:
class Person():
     def __init__ (self,name,age,city):              #emp1=self
        self.name=name
        self.age=age
        self.city=city
     def show(self):
         print(self.name,self.age,self.city)

In [117]:
p1=Person('anushka','17','pune')
p2=Person('shrawani','22','pune')
p3=Person('shraddha','19','nagar')
p4=Person('abcd',' ','nashik')

In [118]:
p1.show()

anushka 17 pune

In [119]:
p2.show()

shrawani 22 pune

In [120]:
p3.show()

shraddha 19 nagar

In [121]:
p4.show()

abcd   nashik

In [ ]:
#create a class called person
#attributes:name,age,city  (make use of default para also)
#create a method which will show all the info of person

In [123]:
class Person():
    def __init__(self,n,a=25):
        self.name=n
        self.age=a
    def info(self):
        print('name:',self.name)
        print('age:',self.age)

In [124]:
pe1=Person('anushka',56)
pe2=Person('sanika')

In [125]:
pe1.info()

name: anushka
age: 56

In [126]:
pe2.info()

name: sanika
age: 25